
<div class="row statistics">
	<h2> Estadísticas </h2>

	<div class="row">
		<div class="col-sm-4">
			<h3>Preguntas</h3>
		</div>
		<div class="col-sm-8">
			<p>Total: <%= statistics.no_quizzes %></p>
			<p>Media por usuario: <%= statistics.avg_quizzes_per_user %></p>
			<p>Con comentarios: <%= statistics.no_quizzes_with_comments %></p>			
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<h3>Usuarios</h3>
		</div>
		<div class="col-sm-8">
			<p>Total: <%= statistics.no_users %></p>
			<p>Con comentarios: <%= statistics.no_users_with_comments %></p>
			<p>Con preguntas: <%= statistics.no_users_with_quizzes %></p>		
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<h3>Comentarios</h3>
		</div>
		<div class="col-sm-8">
			<p>Total: <%= statistics.no_comments %></p>
			<p>Media por pregunta: <%= statistics.avg_comments_per_quiz %></p>
			<p>Media por usuario: <%= statistics.avg_comments_per_user %></p>
			<p>Aceptados: <%= statistics.no_accepted_comments %></p>	
		</div>
	</div>


</div>