<div class="row">
	<div class="col-sm-4">
	  <h2> <%= title || "Quizzes" %> </h2>
	</div>
	<% if (session.user) { %>
	<div class="col-sm-4">
	    <a href="/quizzes/new" class="btn btn-primary" role="button">Crear pregunta</a>
	</div>
	<div class ="col-sm-4">
	<% } else { %>
	<div class ="col-sm-8">
	<% } %>
	  <form role="form" method="get" action=<%= url %>>
	    <input type="text" class="form-control" name="search" value="<%= search %>" placeholder="Pregunta"></input>
	    <button type="submit" class="btn btn-block">Buscar</button>
	  </form>
	</div>	
</div>


<div class="row">
	<% if (quizzes.length === 0) { %>
	  <p>No se han encontrado preguntas</p>  
	<% } %>
		  <% for (var i in quizzes) { %>        
		     <div class="row quiz row-sm-flex-center">
		        <div class="col-sm-1">
		          <% var quiz = quizzes[i]; %>      
		          <%- include ../favourites/_stars.ejs %>
		        </div>
		        <div class="col-sm-1" >
		          <% if (quizzes[i].Attachment) { %>
		             <img class="quizImage" src="<%= quizzes[i].Attachment.url %>"/>
		          <% } else { %> 
		             <img class="quizImage" src="/images/question.png"/>
		          <% } %> 
		        </div>
		        <div class="col-sm-4">
		           <a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
		        </div>
		        <div class="col-sm-3">
		        <% if (quizzes[i].AuthorId) {
		              if (quizzes[i].Author) { %>
		                Creado por&nbsp;<a href="/users/<%= quizzes[i].AuthorId %>"><%= quizzes[i].Author.username %></a>
		          <% } else { %>
		                Usuario eliminado
		          <% } %>
		        <% } else { %>
		              Anónimo
		        <% } %>
		        </div>
		        <% if (session.user) { %>
		        <% if (session.user.isAdmin || session.user.id === quizzes[i].AuthorId) { %>
		        <div class="col-sm-3">
		          <div class="btn-group">
		            <a href="/quizzes/<%= quizzes[i].id %>/edit" class="btn btn-primary" role="button">Editar</a>
		            <a href="/quizzes/<%= quizzes[i].id %>?_method=DELETE" class="btn btn-warning" role="button"
		            onClick="return confirm('Borrar: <%= quizzes[i].question %>');">
		            Borrar
		            </a>
		          </div>
		        </div>
		        <% } %> 
		        <% } %>
		     </div> 
		  <% } %>
</div>