
<h2>Pregunta</h2>

<p>
  <table>
    <tr>
      <td>
        <%- include ../favourites/_stars.ejs %>  
      </td>  
      <td>  
        <%= quiz.question %>
        <p>
            <% if (quiz.AuthorId) {
                  if (quiz.Author) { %>
                    Creado por <a href="/users/<%= quiz.AuthorId %>"><%= quiz.Author.username %></a>
              <% } else { %>
                    Usuario eliminado
              <% } %>
            <% } else { %>
                  Anónimo
            <% } %>        
        </p>
      </td>
  </tr>
  </table>

  <% if (quiz.Attachment) { %>
    <img src="<%= quiz.Attachment.url %>" />
  <% } else { %> 
    <img src="/images/question.png" width="50px" />
  <% } %> 

  <form method="get" action="/quizzes/<%= quiz.id %>/check">  
    <p>
      <input type="text" name="answer" value="<%= answer %>" placeholder="Respuesta" />
      <input type="submit" value="Comprobar">
    </p>
  </form>
</p>

<h2>Comentarios</h2>

<% if (session.user) { %>
  <p>
    <a href="/quizzes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a>
  </p>
<% } %>
<% if (quiz.Comments.length === 0) { %>
  <p>Todavía no hay ningún comentario.</p>  
  <% } %>
<ul>
  <% for (var i in quiz.Comments) { 
       var comment = quiz.Comments[i];
       if (comment.accepted) { %>
           <li> 
           	<%= comment.text %> 
           </li>
           <p>
   			<% if (comment.AuthorId) {
            if (comment.Author) {%>
      			 Por <a href="/users/<%= comment.AuthorId %>"><%= comment.Author.username %></a>
          <% } else { %>
                Usuario eliminado
          <% } %>
        <% } else { %>
      			Anónimo
   	 		<% } %>
        <% if (session.user && 
                      (session.user.isAdmin || 
                      (quiz.AuthorId === session.user.id) || 
                      (comment.AuthorId === session.user.id))) { %>
           <a href="/quizzes/<%= quiz.id %>/comments/<%= comment.id %>?_method=DELETE">
              <button>Borrar</button>
           </a>
        <% } %>            
    	   </p>

       <% } else if (session.user &&
                     (session.user.isAdmin || (quiz.AuthorId === session.user.id))) { %>

           <li> <%= comment.text %> </li>
           <p>
   			<% if (comment.AuthorId) {
            if (comment.Author) { %>
      			 Por <a href="/users/<%= comment.AuthorId %>"><%= comment.Author.username %></a>
          <% } else { %>
                Usuario eliminado
          <% } %>
        <% } else { %>
      			Anónimo
   	 		<% } %>
           <a href="/quizzes/<%= quiz.id %>/comments/<%= comment.id %>/accept?_method=PUT">
              <button>Aceptar</button>
           </a>
           <a href="/quizzes/<%= quiz.id %>/comments/<%= comment.id %>?_method=DELETE">
              <button>Borrar</button>
           </a>
          </p>
       <% } else if (session.user && (comment.AuthorId === session.user.id)) { %>
           <li> 
            <%= comment.text %> 
           </li>
           <p>
             Su comentario todavía no ha sido aprobado.
             <a href="/quizzes/<%= quiz.id %>/comments/<%= comment.id %>?_method=DELETE">
                <button>Borrar</button>
             </a>
           </p>
       <% } %>
  <% } %>
</ul>