
<h2>Usuario</h2>

<p>
  <b>Nombre de usuario:</b>
  <%= user.username %>
</p>

<p>
  <b>Es Administrador:</b>
  <%= user.isAdmin ? "Sí" : "No" %>
</p>

<% if (session.user) { %>
  <div class="btn-group">
  <% if (session.user.isAdmin || session.user.id === user.id) { %>
    <a href="/users/<%= user.id %>/edit" class="btn btn-success" role="button"> 
	  Editar
	</a>
  <% } %>	  
  <% if (session.user.isAdmin && session.user.id !== user.id) { %>
	<a href="/users/<%= user.id %>?_method=DELETE" class="btn btn-danger" role="button" onClick="return confirm('Borrar cuenta: <%= user.username %>');">
	  Borrar 
	</a>
  <% } %>
  </div>
<% } %>

<a href="/users" class="btn btn-warning" role="button"> 
   Volver
</a>
