<div class="row user-profile">
  <div class="col-md-6">
    <div class="row">
      <h2>Datos de usuario</h2>
      <% if (user.Avatar) { %>
        <img class="img-circle userProfileImage" src="<%= user.Avatar.url %>"/>
      <% } else { %> 
        <img class="img-circle userProfileImage" src="https://res.cloudinary.com/dmx0we4ia/image/upload/v1465325851/avatar_ezag1p.png"/>
      <% } %> 
      <p>
        <b>Nombre de usuario:</b>
        <%= user.username %>
      </p>
      <p>
        <b>Es Administrador:</b>
        <%= user.isAdmin ? "Sí" : "No" %>
        <% if (session.user && session.user.isAdmin && session.user.id !== user.id) { %>
        <form method="post" action="/users/<%= user.id %>?_method=PUT">
          <input type="hidden" name="user[password]" value=""/>
          <% if (!user.isAdmin) { %>     
            <button name="user[isAdmin]" type="submit" class="btn btn-success" value="true" role="button">Dar permisos</button>
          <% } else { %>
            <button name="user[isAdmin]" type="submit" class="btn btn-danger" role="button">Quitar permisos</button>
          <% } %>
        </form>
        <% } %>
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <h3>Actividad</h3>
      <h5>Preguntas</h5>
      <div class="btn-group">
        <a href="/users/<%= user.id %>/favourites" class="btn btn-default" role="button">Favoritas</a>
        <a href="/users/<%= user.id %>/quizzes" class="btn btn-default" role="button">Creadas</a> 
      </div>
    </div>
    <% if (session.user &&  (session.user.isAdmin || session.user.id === user.id)) { %>
    <div class="row">
      <h3>Administrar</h3>
      <h5>Comentarios en sus preguntas</h5>
      <div class="btn-group">
        <a href="/users/<%= user.id %>/comments" class="btn btn-default" role="button"> 
  	    Todos
  	    </a> 
        <a href="/users/<%= user.id %>/comments/pending" class="btn btn-default" role="button"> 
  	    Pendientes
  	    </a> 
  	  </div>
      <h5>Usuario</h5>
      <div class="btn-group">
        <a href="/users/<%= user.id %>/edit" class="btn btn-default" role="button"> 
  	    Editar
  	    </a>	  
      <% if (session.user.isAdmin && session.user.id !== user.id) { %>
  	    <a href="/users/<%= user.id %>?_method=DELETE" class="btn btn-danger" role="button" onClick="return confirm('Borrar cuenta: <%= user.username %>');">
  	    Borrar 
  	    </a>
      <% } %>
      </div>
    </div>
  <% } %>
  </div>
</div>
<div class="row">
  <a href="/users" class="btn btn-warning" role="button"> 
  Volver
  </a>
</div>

